    {{> header }}
    {{> navBar }}

    <div class="container">
      <div class="row">
          <div class="col-8">
              <h1>holi</h1>
          </div>
          <div class="col-4">
              {{!-- <img src="" class="img-thumbail"> --}}aaaa
          </div>
      </div>
    </div>

    {{> footer }}
